@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Abril Display";
  src: url(./assets/font/Abril_Display_Bold.otf) format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Abril Display";
  src: url(./assets/font/Abril_Display_SemiBold.otf) format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Abril Display", sans-serif;
}
